:root{
    --primary:#E3DBD3;
    --secondary:#D4C2D8;
    --accent:#55738D;
}

*{
    background-color: #E3DBD3;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: 1px solid #85748A;
    column-gap: 8px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    display: block;
    font-weight: bold;
    color:#85748A;
}

a:hover {
    text-decoration: overline;
}

.hamburguer {
    background: none;
    border: none;
    color: #63728E;
    cursor: pointer
}

.hamburguer::before {
    content: "\2630";
}

.hamburguer.show::before {
    content: "\00D7"
}

.navigation {
    display: none;
    background-color: #f7e7ce96;
    height: 40px;
}

.navigation.show {
    display: block;
}

img{
    width:100%;
    height: auto;;
}

.social {
    display: flex;
    gap: 6px;
    justify-content: center;
    padding-bottom: 1rem;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #55738D solid 1px;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    background-color: #E3DBD3;
    padding: 0;
}

.social img {
    width: 16px;
    height: 16px;
}

.social a:hover {
    background-color: #55738D;
}

.information{
    padding:3rem;
}

span {
    color: #5d554d;
}

header{
    align-items: start;
    justify-content: left;
    align-items: center;
    column-gap: 20px;
}

h1{
    color:#594D5D;
}

.languages img{
    width:40px;
    height: 40px;
    margin: 10px;
}

.languages {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #85748A;
}

#banner{
    margin-bottom: 0;
    display:block;
}

